<div class="bigContainer">
    <div class="topContainer">
        <div class="leftContainer">
            <app-user-list-chat class="userListTitle" title="Participantes"></app-user-list-chat>
        </div>

        <div class="rightContainer">
            <div class="aboveChat">
                <div class="threadTitle">
                    <p class="subject">Asunto</p>
                    <p>Aquí me viene el titulo del asunto, que viene de crear hilo/unirme</p>
                </div>
                <div>
                    <button type="button" class="returnBtn">Volver a hilos</button>
                </div>

            </div>
            <div class="chatContainer">

            </div>
        </div>
    </div>

    <div class="bottomContainer">
        <input type="text" class="msg" placeholder="Escribe aquí tu mensaje">
        <button type="button" class="sendBtn">Enviar</button>
    </div>
</div>