<div class="bigContainer">
    <div class="topContainer">
        <div class="leftContainer">
            <app-user-list-chat class="userListTitle" title="Participantes"></app-user-list-chat>
        </div>

        <div class="rightContainer">
            <div class="aboveChat">
                <div class="threadTitle">
                    <p class="subject">Asunto</p>
                    <p>Aquí me viene el titulo del asunto, que viene de crear hilo/unirme</p>
                </div>
                <div>
                    <button type="button" class="returnBtn" routerLink="/threads">Volver a hilos</button>
                </div>

            </div>
            <div class="chatContainer">
                <!--Aquí la funcionalidad de chat -->
                <div *ngFor="let message of messages">
                    <p><strong>User {{message.user_id}}</strong>: {{message.text}}</p>
                    <p><small>{{message.date | date:'short'}}</small></p>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="bottomContainer">
        <input type="text" [(ngModel)]="messageText" class="msg" placeholder="Escribe aquí tu mensaje">
        <button type="button" (click)="sendMessage()" class="sendBtn">Enviar</button>
    </div>
</div>
