* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-main {
    display: flex;
    flex-direction: column;
}

.container1 {

    min-height: 100vh;
    background-image: url("../../../assets/background/background_landing_header.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 480px) {
    .container1 {
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.boxLanding1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
    gap: 1%
}

@media only screen and (max-width: 768px) {
    .boxLanding1 {
        width: 70%;
        padding-left: 30%;
    }
}

@media screen and (max-width: 480px) {
    .boxLanding1 {
        width: 50%;
        padding-left: 50%;
    }
}

.boxLanding1b {
    width: 50%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 25%;
    gap: 3%
}


@media screen and (max-width: 768px) {

    .boxLanding1b {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {

    .boxLanding1b {
        display: none;
    }
}

.boxLanding1c {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    gap: 2%
}

@media screen and (max-width: 768px) {
    .boxLanding1c {
        display: none;
    }
}

.boxTitle {
    width: 600px;
    height: 150px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 58px;
    line-height: 62px;
    font-family: "Plus Jakarta Sans", sans-serif;
    /* border: 1px solid #707070;  */
    color: #E100FF;
}

@media screen and (max-width: 480px) {
    .boxTitle {
        font-size: 150%;
        margin-left: 50%;
    }
}

span {
    color: #FFFFFF;
}

.boxText {
    width: 444px;
    height: 29px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    line-height: 31px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    /* border: 1px solid #707070;  */
}

@media screen and (max-width: 480px) {

    .boxText {
        font-size: small;
        padding-left: 50%;
    }
}

.boxText2 {
    width: 400px;
    height: 34px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
}

@media screen and (max-width: 480px) {

    .boxText2 {
        font-size: x-small;
        padding-left: 50%;
    }
}

.img {
    width: 254px;
    height: 506px;
    background: transparent;
    position: relative;
    bottom: 63%;
    left: 3%;
}

.kratos {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .kratos {

        width: 65%;
        height: 65%;
        position: relative;
        top: 65%;
        left: 15%;

    }
}

@media only screen and (max-width: 480px) {
    .kratos {

        width: 60%;
        height: 60%;
        position: relative;
        top: 90%;
        left: 1%;
    }
}

.img2 {
    width: 347px;
    height: 334px;
    background: transparent;
    position: relative;
    bottom: 119%;
    left: 70%;
}

.superMario {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .superMario {
        width: 65%;
        height: 65%;
        position: relative;
        bottom: -90%;
        right: 20%;
    }
}

@media screen and (max-width: 480px) {
    .superMario {
        width: 60%;
        height: 60%;
        position: relative;
        top: 120%;
        right: 30%;
    }
}


#buttonRegister {
    width: 138px;
    height: 38px;
    background: #7F00FF 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 480px) {

    #buttonRegister {
        margin-left: 9%;
        margin-top: 10%;
    }
}

#buttonRegister:hover {
    background-color: #1B1B1B;
    ;
}

.img3a {
    width: 152px;
    height: 104px;
    background: transparent url('../../../assets/Images/socializeBox.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 38px;
}


.img3b {
    width: 152px;
    height: 104px;
    background: transparent url('../../../assets/Images/shareBox.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 38px;
}

.img3c {
    width: 152px;
    height: 104px;
    background: transparent url('../../../assets/Images/newsBox.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 34px;
}


.socializa {
    width: 166px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 3.6px;
    color: #FFFFFF;
}

.conecta {
    width: 149px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 3.6px;
    color: #FFFFFF;
}

.noticias {
    width: 149px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 3.6px;
    color: #FFFFFF;
}


/* landing container2 */

.container2 {
    min-height: 100vh;
    background-color: #0100500a;
    background-size: 100%;
    background-repeat: no-repeat;
}

.boxNewsLanding {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}

.boxTitleLanding2 {
    width: 511px;
    height: 89px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    line-height: 61px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
}

.spanLanding2 {
    color: #E100FF;
}

.boxTextLanding2 {
    width: 411px;
    height: 34px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
}

.boxNews {
    height: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    text-align: center;
    background: transparent;
    padding-top: 42px;
    padding-left: 3%;
}

@media screen and (max-width: 768px) {
    .boxNews {
        width: 100%;
        height: 100%;
        font-size: x-small;
    }
}

.buttonNews {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding-top: 60px;
}

#buttonNews {
    width: 138px;
    height: 38px;
    margin-top: 10%;
    background: #7F00FF 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #buttonNews {

        width: 15%;
        height: 4%;
        font-size: x-small;
        position: absolute;
        top: 110%;
        right: 39%;
    }
}

@media screen and (max-width: 480px) {
    #buttonNews {
        margin-top: 12%;
    }
}

#buttonNews:hover {
    background-color: #1B1B1B;
}

/* landing container3 */

.container3 {

    height: 525px;
    background-image: url("../../../assets/background/background_landing_chat.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 100%;
}

.boxChat {
    text-align: start;
    font-weight: normal;
    font-style: normal;
    color: #1B1B1B;
    padding-top: 8%;
    padding-left: 13%;
}

@media screen and (max-width: 768px) {
    .boxChat {
        width: 70%;
        height: 70%;
        padding-left: 6%;
    }
}


.boxTitleLanding3 {
    width: 330px;
    height: 116px;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    line-height: 55px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #E100FF;
}

.spanLanding3 {
    color: #FFFFFF;
}

.boxTextLanding3 {
    width: 299px;
    height: 53px;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    padding-top: 10px;
}

#buttonRegister3 {
    width: 138px;
    height: 38px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #1B1B1B;
    border: 1px solid #E100FF;
    color: #E100FF;
    border-radius: 10px;
    cursor: pointer;
}

#buttonRegister3:hover {
    background-color: #1B1B1B;
    ;
}

.boxLogosPlatforms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: normal;
    font-style: normal;
    color: #1B1B1B;
    padding-top: 8%;
    gap: 2%;
    padding-right: 3%;
}

@media screen and (max-width: 480px) {
    .boxLogosPlatforms {
        padding-top: 20%;
        padding-right: 10%;
    }
}

.imgLandingChat {
    width: 40%;
    position: relative;
    left: 50%;
    bottom: 400px;
}

@media screen and (max-width: 768px) {
    .imgLandingChat {
        width: 70%;
        height: 70%;
        left: 45%;
        bottom: 75%;
    }
}

@media screen and (max-width: 480px) {
    .imgLandingChat {
        left: 42%;
        bottom: 50%;

    }
}

.imageChat {
    width: 367px;
    height: 348px;
}

@media screen and (max-width: 480px) {
    .imageChat {
        width: 60%;
        height: 60%;
        left: 50%;
        bottom: 80%;
    }
}


/* landing container4 */

.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 96px;
    padding-bottom: 140px;
    background-color: #0100500a;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.boxTitleLanding4 {
    width: 511px;
    height: 112px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    line-height: 51px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #E100FF;
}

.spanLanding4 {
    color: #1B1B1B;
}

.boxTextLanding4 {
    width: 448px;
    height: 37px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
}

@media screen and (max-width: 480px) {
    .boxTextLanding4 {
        width: 90%;
        font-size: x-small;
    }
}

#buttonRegister4 {
    width: 138px;
    height: 38px;
    background: #7F00FF;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

#buttonRegister4:hover {
    background-color: #1B1B1B;
    ;
}

.imgLandingComunidad {
    position: absolute;
    bottom: -70px;
    left: 65px;
}

@media screen and (max-width: 768px) {
    .imgLandingComunidad {
        width: 50%;
        height: 50%;
        left:10%;
        top: 10%
    }
}

@media screen and (max-width: 480px) {
    .imgLandingComunidad {
        width: 60%;
        height: 60%;
        left: 67%;
        top: -22%
    }
}

.imageComunity {
    width: 491px;
    height: 307px;
}
@media screen and (max-width: 768px) {
    .imageComunity {
       width: 95%;
        right: 10%;
        top: 15%
    }
}

@media screen and (max-width: 480px) {
    .imageComunity {
        width: 60%;
        height: 60%;
        right: 10%;
        top: 15%
    }
}

.box2 {
    padding-left: 32px;
}


.boxMessage1 {
    width: 269px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 33px;
    padding: 20px;
    position: relative;

}

@media screen and (max-width: 480px) {
    .boxMessage1 {

        left: -140%;
        top: 15%
    }
}

.pmessage1a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #E100FF;
    margin: 0;
    padding-bottom: 3%;
}

.pmessage1b {
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 17px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
    margin: 0;
}

.boxMessage2 {
    width: 269px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 33px;
    padding: 20px;
    position: relative;
    margin-left: 32px;
}

@media screen and (max-width: 480px) {
    .boxMessage2 {
        left: -140%;
        top: 15%
    }
}

.pmessage2a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #E100FF;
    margin: 0;
    padding-bottom: 3%;
}

.pmessage2b {
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 17px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
    margin: 0;
}

.imgDecorador1 {
    position: absolute;
    bottom: -24px;
    right: 0;
}

.imgDecorador2 {
    position: absolute;
    bottom: -24px;
    right: 24px;
}

.bottonContainer {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
}

.bottonContainerRight {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 32px;
}