.container-main {
    width: 100vw;
    height: 100vh;
}

.container1 {
    width: 100vw;
    height: 690px;
    background-image: url("../../../assets/background/background_landing_header.svg");
    background-size: 100%;
    background-repeat: no repeat;
}

.boxTitle {
    width: 600px;
    height: 150px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 58px;
    line-height: 62px;
    font-family: "Plus Jakarta Sans", sans-serif;
    position: absolute;
    top: 25%;
    left: 26%;
    /* border: 1px solid #707070;  */
    color: #E100FF;
}

span {
    color: #FFFFFF;
}

.boxText {
    width: 444px;
    height: 29px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    line-height: 31px;
    font-family: "Plus Jakarta Sans", sans-serif;
    position: absolute;
    color: #FFFFFF;
    top: 48%;
    left: 32%;
    /* border: 1px solid #707070;  */
}

.boxText2 {
    width: 400px;
    height: 34px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    position: absolute;
    top: 55%;
    left: 33%;
}

.img {
    width: 254px;
    height: 483px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 2%;
    /* border: 1px solid #707070;  */
}

.img2 {
    width: 347px;
    height: 334px;
    background: transparent;
    position: absolute;
    bottom: 2%;
    right: 2%;
    /* border: 1px solid #707070;  */
}

#buttonRegister {
    width: 138px;
    height: 38px;
    background: #7F00FF 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 10px;
    position: absolute;
    top: 65%;
    left: 43%;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    font-family: "Plus Jakarta Sans", sans-serif;

    color: #FFFFFF;
    cursor: pointer;
}

#buttonRegister:hover {
    background-color: #1B1B1B;
    ;
}

.img3a {
    width: 152px;
    height: 104px;
    background: transparent url('../../../assets/Images/socializeBox.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 38px;
    position: absolute;
    top: 80%;
    left: 29%;
}

.img3b {
    width: 152px;
    height: 104px;
    background: transparent url('../../../assets/Images/shareBox.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 38px;
    position: absolute;
    top: 80%;
    left: 43%;
}

.img3c {
    width: 152px;
    height: 104px;
    background: transparent url('../../../assets/Images/newsBox.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 34px;
    position: absolute;
    top: 80%;
    left: 57%;
}

.socializa {
    width: 166px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 3.6px;
    color: #FFFFFF;
    position: absolute;
    top: 75%;
    left: 29%;
}

.conecta {
    width: 149px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 3.6px;
    color: #FFFFFF;
    position: absolute;
    top: 75%;
    left: 43%;
}

.noticias {
    width: 149px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 3.6px;
    color: #FFFFFF;
    position: absolute;
    top: 75%;
    left: 57%;
}

/* landing container2 */

.container2 {
    width: 100vw;
    height: 640px;
    background-image: url('/src/assets/background/backgroun_landing_news.svg');
    background-size: 100%;
    background-repeat: no repeat;
    background-color: #0100500D;
    opacity: 100%;
}

.boxTitleLanding2 {
    width: 511px;
    height: 89px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    line-height: 61px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
    position: absolute;
    top: 120%;
    left: 28%;
}

.spanLanding2 {
    color: #E100FF;
}

.boxTextLanding2 {
    width: 411px;
    height: 34px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
    position: absolute;
    top: 133%;
    left: 32%;
    /* border: 1px solid #707070; */
}

.boxNews {
    display: flex;
    flex-direction: row;
    width: 840px;
    height: 160px;
    background: transparent;
    /* border: 1px solid #707070; */
    position: absolute;
    top: 145%;
    left: 13%;
}

#buttonNews {
    width: 138px;
    height: 38px;
    background: #7F00FF 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 10px;
    position: absolute;
    top: 185%;
    left: 43%;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

#buttonNews:hover {
    background-color: #1B1B1B;
}

/* landing container3 */

.container3 {
    width: 100vw;
    height: 525px;
    background-image: url("../../../assets/background/background_landing_chat.svg");
    background-size: 100%;
    background-repeat: no repeat;
    background-color: #0100500D;
    opacity: 100%;
}

.boxTitleLanding3 {
    width: 330px;
    height: 116px;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    line-height: 55px;
    font-family: "Plus Jakarta Sans", sans-serif;
    position: absolute;
    top: 220%;
    left: 18%;
    color: #E100FF;
}

.spanLanding3 {
    color: #FFFFFF;
}

.boxTextLanding3 {
    width: 299px;
    height: 53px;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 19px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFF;
    position: absolute;
    top: 240%;
    left: 18%;
}

#buttonRegister3 {
    width: 138px;
    height: 38px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #1B1B1B;
    border: 1px solid #E100FF;
    color: #E100FF;
    border-radius: 10px;
    position: absolute;
    top: 250%;
    left: 18%;
    cursor: pointer;
}

#buttonRegister3:hover {
    background-color: #1B1B1B;
    ;
}

.imgLandingChat {
    position: absolute;
    top: 215%;
    right: 14%;
}

.imgPs {
    position: absolute;
    top: 270%;
    left: 35%;
}

.imgXbox {
    position: absolute;
    top: 270%;
    left: 41%;
}

.imgNintendo {
    position: absolute;
    top: 270%;
    left: 50%;
}

.imgPc {
    position: absolute;
    top: 270%;
    left: 60%;
}

/* landing container4 */

.container4 {
    width: 100vw;
    height: 800px;
    background-image: url('/src/assets/background/background_landing_comunidad.svg');
    background-size: 100%;
    background-repeat: no repeat;
    background-color: #0100500D;
}

.boxTitleLanding4 {
    width: 511px;
    height: 112px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    line-height: 51px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #E100FF;
    position: absolute;
    top: 295%;
    left: 30%;
}

.spanLanding4 {
    color: #1B1B1B;
}

.boxTextLanding4 {
    width: 448px;
    height: 37px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
    position: absolute;
    top: 313%;
    left: 32%;
}

#buttonRegister4 {
    width: 138px;
    height: 38px;
    background: #7F00FF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FFFFFF;
    position: absolute;
    top: 320%;
    left: 44%;
    cursor: pointer;
}

#buttonRegister4:hover {
    background-color: #1B1B1B;
    ;
}

.imgLandingComunidad {
    position: absolute;
    top: 335%;
    left: 16%;
    cursor: pointer;
}

.boxMessage1 {
    width: 269px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 33px;
    padding: 20px;
    position: relative;
    top: 40%;
    left: 58%;
}

.pmessage1a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #E100FF;
    margin: 0;
    padding-bottom: 3%;
}

.pmessage1b {
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 17px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
    margin: 0;
}

.imgDecorador1 {

    position: absolute;
    top: 349%;
    left: 65%;
}

.boxMessage2 {
    width: 269px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 33px;
    padding: 20px;
    position: relative;
    top: 45%;
    left: 61%;
}

.pmessage2a {
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 17px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #E100FF;
    margin: 0;
    padding-bottom: 3%;
}

.pmessage2b {
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 17px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #1B1B1B;
    margin: 0;
}

.imgDecorador2 {
    position: absolute;
    top: 372%;
    left: 72%;
}

/* Estilo para el footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
