<div class="container-main">
    <div class="header">
        <app-navbar></app-navbar>
    </div>
    <div class="container1">
        <div class="boxTitle">
            <p>¡El punto <span>de encuentro </span>gamer!</p>
        </div>
        <div class=" boxText">
            <p> Conecta, socializa y fortalece lazos</p>
        </div>
        <div class=" boxText2">
            <p>XperGG es una Red social donde la pasión por los juegos cobra vida, permitiendo a los usuarios
                publicar
                sus mejores momentos gaming, y chatear.</p>
        </div>
        <div class="img">
            <img src="../../../assets/Images/godofwar-x2.png" alt="" width="289" height="483">
        </div>
        <div class="img2">
            <img src="../../../assets/Images/mario-x2.png" alt="" width="347" height="334">
        </div>
        <br>
        <div class="buttonRegister">
            <button id="buttonRegister" routerLink="/Register">Regístrate</button>
        </div>
        <a class="socializa">SOCIALIZA</a>
        <div class="img3a">
            <img src="../../../assets/Images/shareBox.png" alt="" width="152" height="104">
        </div>
        <a class="conecta">CONECTA</a>
        <div class="img3b">
            <img src="../../../assets/Images/socializeBox.png" alt="" width="152" height="104">
        </div>
        <a class="noticias">NOTICIAS</a>
        <div class="img3c">
            <img src="../../../assets/Images/newsBox.png" alt="" width="152" height="104">
        </div>
    </div>

    <div class="container2">
        <div class="boxTitleLanding2">
            <p class="pLanding2">Noticias <span class="spanLanding2">Gaming</span></p>
        </div>
        <div class="boxTextLanding2">
            <a> Mantente informado sobre los últimos lanzamientos, actualizaciones de juegos, eventos y tendencias
                del
                mundo
                del gaming.</a>
        </div>
        <div class="boxNews">
            <app-trending-news [apiNewsText]="newsText1" [apiNewsImg]="newsImage1" [linkApiNewsRouting]="newsLink1">
            </app-trending-news>
            <app-trending-news [apiNewsText]="newsText2" [apiNewsImg]="newsImage2" [linkApiNewsRouting]="newsLink2">
            </app-trending-news>
            <app-trending-news [apiNewsText]="newsText3" [apiNewsImg]="newsImage3" [linkApiNewsRouting]="newsLink3">
            </app-trending-news>
        </div>
        <!--acomodar este boton haciendo routerLink a la pagina de News -->
        <div class="buttonNews">
            <button id="buttonNews" onclick type="submit" routerLink="/News">Ver Todas</button>
        </div>
    </div>
    <div class="container3">
        <div class="boxTitleLanding3">
            <p class="pLanding3">Chatea <span class="spanLanding3">con otros gamers</span></p>
        </div>
        <div class="boxTextLanding3">
            <p> Un espacio interactivo donde los jugadores pueden conectarse, compartir estrategias y forjar
                alianzas,
                todo en tiempo real.
            </p>
        </div>
        <br>
        <div class="buttonRegister3">
            <button id="buttonRegister3" routerLink="/Register">Regístrate</button>
        </div>
        <div class="imgLandingChat">
            <img src="../../../assets/Images/imageChat.png" alt="" width="367" height="348">
        </div>
        <div class="imgPs">
            <img src="../../../assets/icon/iconoPS.svg" alt="" width="36" height="28">
        </div>
        <div class="imgXbox">
            <img src="../../../assets/icon/iconoXBOX.svg" alt="" width="82" height="24">
        </div>
        <div class="imgNintendo">
            <img src="../../../assets/icon/iconoNintendo.svg" alt="" width="102" height="24">
        </div>
        <div class="imgPc">
            <img src="../../../assets/icon/iconoPC.svg" alt="" width="100" height="21">
        </div>
    </div>
    <div class="container4">
        <div class="boxTitleLanding4">
            <p class="pLanding4">Comparte <span class="spanLanding4">tus mejores</span> jugadas</p>
        </div>
        <div class="boxTextLanding4">
            <p>Es una excelente manera de capturar y compartir la emoción de las victorias y las jugadas maestras
                con
                una comunidad que valora el contenido de calidad.</p>
        </div>
        <br>
        <div class="buttonRegister4">
            <button id="buttonRegister4" routerLink="/Register">Regístrate</button>
        </div>
        <div class="imgLandingComunidad">
            <img src="../../../assets/Images/imageShare.png" alt="" width="471" height="308">
        </div>
        <div class="boxMessage1">
            <p class="pmessage1a">Crea comunidad</p>
            <p class="pmessage1b">Permite que los usuarios compartan sus propios contenidos, así fomenta una comunidad activa y comprometida.</p>
        </div>
        
        <div class="imgDecorador1">
            <img src="../../../assets/Images/decorador1.svg" alt="" width="204" height="10">
        </div>
        <div class="boxMessage2">
            <p class="pmessage2a">Contenido Potencial</p>
            <p class="pmessage2b">Una experiencia única con videos y fotos de momentos épicos en los juegos tienen
                el potencial de volverse virales.</p>
        </div>
        <div class="imgDecorador2">
            <img src="../../../assets/Images/decorador2.svg" alt="" width="124" height="10">
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>