<div class="container">
    <div class="modal-dialog modal-dialog-centered" id="staticBackdrop" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cambiar contraseña</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro que quieres cambiar la contraseña? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sí, deseo cambiar la contraseña</button>
            </div>
        </div>
    </div>
</div>