.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#staticBackdrop {
    padding: 20px;
    background-color: #141414;
    border-radius: 15px;
    padding: 20px;
    display: flex;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-title{
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    color: #E100FF;
}

.btn-close{
    margin-left: 20px;
    height: 25px;
    background-color: #C0005A;
    color: white;
    border-radius: 10px;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    text-align: center;

}

.modal-body{
    color: whitesmoke;
    font-family: 'Plus Jakarta Sans';
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.btn-primary{
    background-color: #E100FF;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5px;
    font-family: 'Plus Jakarta Sans';
}