.container{
    position: fixed;
    bottom: 150px;
    right: 350px;
    width: 200px;
    height: 150px;
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    border: 1px solid black
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header{
    display: flex;
    align-self: flex-end;
}

.btn-close{
    height: 25px;
    background-color: #C0005A;
    color: white;
    border-radius: 10px;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    text-align: center;
}

.modal-body{
    color: black;
    font-family: 'Plus Jakarta Sans';
    display: flex;
    text-align: center;
    align-content: center;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.btn-primary{
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Plus Jakarta Sans';
    padding: 3px
}