<div class="container-fluid">
    <div class="title">
        <h4 class="white">Hilos</h4>
        <h4 class="pink">Disponibles</h4>
        <h4 class="white">{{platformTitle}}</h4>
    </div>

    <div class="container2">
        <div class="container3">
            <input id="Search" type="text" class="form-control" placeholder="Buscar juego" aria-label="id_book"
                aria-describedby="basic-addon2" #inputText>
            <button class="lookFor" (click)="search(inputText.value)"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <app-dropdowns-threads id="button"></app-dropdowns-threads>
    </div>
    <div class="container4">
        @for(thread of threads; track thread.thread_id){
        <app-card-threads [thread]="thread"></app-card-threads>
        }@empty{
        <p class="empty">Ups...no hay hilos disponibles. Empieza a interactuar con la Comunidad!</p>
        }

    </div>
</div>