<div class="container-fluid">
    <div class="title">
        <p>Interactúa <span> en nuestra </span> Comunidad</p>
    </div>
    <div class="cards">
        <app-platform-card class="icon" icon="assets\icon\iconoPS.svg" id="imagen" img="assets\Images\crash.png"
            threadRouting="/threads?platform=PlayStation" #PS>
        </app-platform-card>
        <app-platform-card class="icon" icon="assets\icon\iconoXBOX.svg" id="imagen" img="assets\Images\halo.png"
            threadRouting="/threads" #xBox>
        </app-platform-card>
        <app-platform-card class="icon" icon="assets\icon\iconoNintendo.svg" id="imagen"
            img="assets\Images\kirbyAndLuigi.png" threadRouting="/threads" #nintendo>
        </app-platform-card>
        <app-platform-card class="icon" icon="assets\icon\iconoPC.svg" id="imagen" img="assets\Images\lol.png"
            threadRouting="/threads" #PC>
        </app-platform-card>
    </div>
    <div class="footer">
        <p class="textFooter">XperGG es una Red social donde la pasión por los juegos cobra vida, permitiendo a los
            usuarios publicar sus
            mejores momentos gaming,y chatear.</p>
    </div>
</div>