/* Estilos para el formulario de register */

.containerForm {
    margin-top: 30px;
    width: 460px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding-left: 3%;
padding-right: 3%;
    gap: 15px 20px;
    border-radius: 40px;
}

.containerInputName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 0px;
}


h1 {
font-style: normal;
font-variant: normal;
font-weight: 800; /* 800 es equivalente a bold */
font-size: 24px;
font-family: 'Plus Jakarta Sans';
color: #E100FF;
text-align: center;
}

.firstlabel{
    font-size: 14px;
}

.textInput{
    padding-left: 15px;
}

label{
margin-bottom: -20px;
}

.name{
    width: 400px;
    display: flex;
    flex-direction: column;
}

input{
    border: 0px;
    border-radius: 20px;
    height: 38px;
    background-color: #e100ff22;
}

.stylePlatforms{
padding-left: 15px;
 width: 420px; 
 padding-top: 20px;  
 height:100px;
}

h6{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: bold;
}

p{
    font-size: 13px;
    margin-bottom: 0px;
}

.labels{
    display: flex;
    gap: 0px 35px;
    margin-bottom: 0px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

label{
    width: 95px;
    display: flex;
    gap:  0px 10px;
    align-items: center;
}



.genres{
    display: flex;
    flex-direction: column;
    /* padding-top: 10px; */
}

.styleGenres{
    padding-left: 15px;
    width: 420px; 
    padding-top: 5px;  
    /* padding-top: 10px; */
}

.genres{
    width: 450px;
    display: flex;
}

.checkbox1{
    display: flex;
    font-size: 12px;
    height: 30px;
}

.checkbox2{
    display: flex;
    font-size: 12px;
    height: 30px;
}

.checkbox3{
    display: flex;
    font-size: 12px;
    height: 30px;
    min-width: 100px;
}

span{
    font-size: 11px;
    font-weight: 500;
}

.realidad{
    width: 110px;
}

input[type="checkbox"]{
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #E100FF;
    border-radius: 1px;
}

input:checked{
    content: normal;
    width: 15px;
    height: 15px;
    background-color: blue;
    background-size: 100%;
}

.styleButton{
    width: auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

button{
    width: 315px;
    height: 52px;
    border-radius: 15px;
    font-weight: bold;
    background-color: #1B1B1B ;
    border: 1px solid #E100FF;
    color: white;
}

button:disabled{
    width: 315px;
    height: 52px;
    border-radius: 15px;
    font-weight: bold;

}

small{
    font-size: 13px;
    margin-bottom: 0px; 
}