
<div class="footer-container">
    <a class="provisional-logo" [href]="">XperGG</a>
    <div class="navbarLinks">
        <app-link class="navbarItem" linkImg="assets\icon\icono-home-landing-nr.svg" linkText="Home"
            linkRouting=""></app-link>
        <br>
        <app-link class="navbarItem" linkImg="assets\icon\icono-publicaciones-landing-nr.svg" linkText="Publicaciones"
            linkRouting=""></app-link>
        <br>
        <app-link class="navbarItem" linkImg="assets\icon\icono-comunidades-landing-nr.svg" linkText="Comunidad"
            linkRouting=""></app-link>
        <br>
        <button class="buttonRegister">Registro</button>
    </div>
    <img class="footerImg" src="../../../assets/Images/imageFooter.png" alt="">
    <!-- <app-form-login></app-form-login> -->
    <p class="logincard">Inicio Sesión Login (pendiente componente)</p>
</div>

