
<div class="footer-container">
    <img src="../../../assets/logo/Logo.png" class="provisional-logo" alt="">
    <div class="navbarLinks">
        <app-link class="navbarItem" linkImg="assets\icon\icono-home-landing-nr.svg" linkText="Home"
            linkRouting=""></app-link>
        <br>
        <app-link class="navbarItem" linkImg="assets\icon\icono-publicaciones-landing-nr.svg" linkText="Publicaciones"
            linkRouting=""></app-link>
        <br>
        <app-link class="navbarItem" linkImg="assets\icon\icono-comunidades-landing-nr.svg" linkText="Comunidad"
            linkRouting=""></app-link>
        <br>
        <button class="buttonRegister" routerLink="/Register">Registro</button>
    </div>
    <img class="footerImg" src="../../../assets/Images/imageFooter.png" alt="">
    <div class="login">
        <app-form-login></app-form-login>
    </div>
    
</div>

