
.footer-container{
    display: flex;
    width: 100vw;
    height: 270px;
    align-items: center;
    background: url("../../../assets/background/background_landing_footer.svg");
    background-size: cover;
    gap: 65px;
}


.provisional-logo {
    margin-left: 100px;
    width: 126px;
    height: 37px;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #E100FF;
    text-decoration: none;
}


.navbarLinks {
    margin-left: 70px; 
    color:#FFFFFF
}

.navbarItem {
    font-size: x-small;
    
}


.buttonRegister {
    width: 97px;
    height: 23px;
    background: #7F00FF 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FFFFFF;
}
.buttonRegister:hover{
    background-color:#1B1B1B; ;
}

.footerImg {
    width: 319px;
    height: 340px; 
    background: url('/xpergg-front/src/assets/Images/imageFooter.png');
}

