
.footer-container{
    display: flex;
    width: 100vw;
    height: 330px;
    align-items: center;
    background: url("../../../assets/background/background_landing_footer.svg");
    background-size: cover;
    gap: 64px;
}


.provisional-logo {
    margin-left: 102px;
    width: 126px;
    height: 37px;
    font-weight: bold;
    font-size: 46px;
    line-height: 58px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 0px;
    color: #E100FF;
    text-decoration: none;
}


.navbarLinks {
    margin-left: 70px; 
}


.buttonRegister {
    width: 152px;
    height: 35px;
    background: #7F00FF 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 18px/23px Plus Jakarta Sans;
    color: #FFFFFF;
}
.buttonRegister:hover{
    background-color:#1B1B1B; ;
}

.footerImg {
    width: 319px;
    height: 385px; 
    background: url('/xpergg-front/src/assets/Images/imageFooter.png');
    opacity: 1;
}

