<nav class="navbar bg-body-tertiary">
    <div class="container-navbar">
        <a class="navbar-brand" href="">
            <img src="assets\Images\crash.png" alt="LogoXperGG" class="logo" />
        </a>

        <div class="conditional">
            @if (user){
            <div class="navbarLinks">
                <app-link class="navbarItemR" linkImg="assets\icon\iconoInicioR.svg" linkText="Inicio" linkRouting=""
                    [isUser]=true></app-link>
                <app-link class="navbarItemR" linkImg="assets\icon\iconoComunidadR.svg" linkText="Comunidades"
                    linkRouting="/Community" [isUser]=true></app-link>
                <app-link class="navbarItemR" linkImg="assets\icon\iconoSolicitudesR.svg" linkText="Solicitudes"
                    linkRouting="" [isUser]=true></app-link>
                <app-link class="navbarItemR" linkImg="assets\icon\iconoNotificacionesR.svg" linkText="Notificaciones"
                    linkRouting="" [isUser]=true></app-link>
                <app-link class="navbarItemAvatar" linkImg="assets\avatar\call_of_duty-2.jpg" linkText="{{user.name}}"
                    linkRouting="" [isUser]=true></app-link>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>

            } @else {
            <div class="navbarLinks">
                <app-link class="navbarItem" linkImg="assets\icon\icono-home-landing-nr.svg" linkText="Home"
                    linkRouting="/Landing" [isUser]=false></app-link>
                <app-link class="navbarItem" linkImg="assets\icon\icono-publicaciones-landing-nr.svg"
                    linkText="Publicaciones" linkRouting="" [isUser]=false></app-link>
                <app-link class="navbarItem" linkImg="assets\icon\icono-comunidades-landing-nr.svg" linkText="Comunidad"
                    linkRouting="/Community" [isUser]=false></app-link>
                <!-- Created button for Login with modal -->
                <button type="button" id="loginBtn" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="fa-solid fa-user"></i>
                    Login
                </button>
                <!-- Modal -->
                <div class="modalLogin">
                    <app-form-login-navbar></app-form-login-navbar>
                </div>

            </div>
            }
        </div>
    </div>
</nav>