.navbar {
    padding: 2% 7% 2% 2%;
    margin: 0;
    width: 100vw;
    background-image: url("../../../assets/background/background_landing_header.svg");
    background-size: 100%;
    background-repeat: no repeat;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    height: 38px;
    width: 100vw;

}

.navbar-brand {
    width: 198px;
    height: 58px;
}

.logo {
    width: 198px;
    height: 58px;
}

.navbarLinks {
    height: 58px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    color:#FFFFFF

}

.navbarItem {
    margin-right: 15px;
    font-size: x-small;
    
}

.navbarItemR {
    margin-right: 15px;
    font-size: x-small;
    color:#FFFFFF;
    
}

.navbarItemAvatar {
    border-radius: 50%;
    margin-right: 15px;
}

.linkText:hover {
    color: #C0005A;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-item {
    color: #636363;
}

#loginBtn {
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    margin-left: 15px;
    margin-top: 5px;
    height: 40px;
    text-align: center;
    background-color: transparent;
    color: #FFFFFF;
    font-family: 'Segoe UI';
}

.fa-solid{
    height: 30px;
    margin-right: 8px;
}
#loginBtn:hover {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #010050;
    height: 40px;
}

.btn-close {
    display: flex;
    justify-content: flex-end;
}

.modal-header {
    border: none
}

.modal-body {
    align-content: center;
    border-top: none;
    padding: 0px;
    justify-content: center;
    margin-left: 20px;
}

.modal-content {
    width: 350px;
    height: auto;
    border: none
}

