.linkContainer {
    display: flex;
    align-items: center;
}

.linkIconNR{
    display: flex;
    color: #C0005A;
    opacity: 100%;
    width: 23px;
    height: 22px;
    margin-right: 12px;
}

.linkText{
    width: auto;
    height: 18px;
    width: auto;
    text-align: center;
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

a{
    text-decoration: none;
}
