.linkContainer {
    display: flex;
    align-items: center;
}

.linkIconNR{
    display: flex;
    color: #C0005A;
    opacity: 100%;
    width: 25px;
    height: 20px;
    margin-right: 8px;
}

.classUser{
    width: auto;
    font-size: 18px;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-weight: bold;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
}

.classUser:hover{
    color:#E100FF;
}

.classUser.active{
    color: #E100FF
}

.classGuest.active{
    color: #C0005A
}

a{
    text-decoration: none;
}

.classGuest{
    width: auto;
    font-size: 18px;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-weight: bold;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
}

.classGuest:hover{
    color:#C0005A;
}



