<div class="container1">
    <div class="title">
        <p class="news">Juegos</p>
        <p class="gaming">Gratis</p>
    </div>
    <div class="text">
        <P class="content">
            Mantente informado sobre los últimos juegos gratuitos<br>
              del mundo del gaming.
        </P>
    </div>
    <!-- <div class="search">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Plataforma
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Playstation</a></li>
            <li><a class="dropdown-item" href="#">X-Box</a></li>
            <li><a class="dropdown-item" href="#">PC</a></li>
            <li><a class="dropdown-item" href="#">Nintendo</a></li>
        </ul>
        <div class="container5">
            <input id="Search" type="text" class="form-control" placeholder="" aria-label="id_book"
                aria-describedby="basic-addon2" #inputText>

            <button class="lookFor"><i class="fa-solid fa-magnifying-glass"
                    style="color: #B197FC;"></i></button>
        </div>

    </div> -->


</div>
<div class="container-fluid">
    @for(game of games; track game) {
    <app-trending-news class="cards" [text]="game.title" [img]="game.thumbnail"
        [link]="game.freetogame_profile_url"></app-trending-news>
    }

</div>

<app-footer></app-footer>