
.trending-news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apiNewsImg{
    width: 288px;
    height: 165px;
    /* border: 1px solid #707070; */
    opacity: 1;
    padding: 4%;
}

.apiNewsText {
    width: 278px;
    height: 104px;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 0px;
    color: #010050;
    opacity: 1;
    padding: 4%;
}

a {
    text-decoration: none;
}