

.container-profile {
    width: 100vw;
    min-height: 100vh; 
    height: auto;   
    background-image: url('../../../assets/background/background_edit_profile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    padding-top: 140px;
    margin: 0 150px;
    justify-content: center;
    gap: 50px;
}

.avatarUser {
    border-radius: 50%;
    width: 159px;
    height: 159px;
    border: 5px solid #636363;
}


.user-data {
    display: flex;
    flex-direction: column;
}


.botton-edit{
    display: flex;
    justify-content: space-between;
    width:400px;
    align-items: center;
}

.button {
    width: 91px;
    height: 28px;
    background-color: #1B1B1B;
    border: 2px solid #E100FF;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    margin-left: -30px;
}

.myUser {
    width: 200px;
    height: 35px;
    text-align: left;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.localidad {
    width: 170px;
    height: 28px;
    text-align: left;
    font-family: 'Plus Jakarta Sans';
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: -13px;
}

.descripcion {
    width: 375px;
    height: 56px;
    text-align: left;
    font-family: 'Plus Jakarta Sans';
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 10px;
    /* margin-bottom: 15px; */
    /* border-bottom: 1px solid gray; */
}

.count-data {
    display: flex;
    gap: 15px;
    border-top: 1px solid gray;
    padding-top: 10px;
}

.numero{
    width: 64px;
    height: 22px;
    text-align: left;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}

.number2 {
    width: 48px;
    height: 22px;
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;;
    color: #E100FF;
    margin-left: -46px;
}


.interest-card {
    width: 560px;
    height: 324px;
    background: #141414 0% 0% no-repeat padding-box;
    border-radius: 31px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.interest {
    width: 294px;
    height: 35px;
    text-align: left;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.interest-container{
    display: flex;
    flex-direction: column;
    padding: 20px 35px;

}


.block {
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

.block2 {
    display: flex;
    flex-direction: column;
}

.block3 {
    display: flex;
    flex-direction: column;
}


.platGen {
    width: 170px;
    height: 19px;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0px;
    color: #E100FF;

}

.interest-name{
    display: flex;
    gap: 8px;
    margin-top: 5px;
    width: auto;
}

.boxtype {
    padding: 1px 5px;
    border: 2px solid #636363;
    border-radius: 10px;
    font-family: 'Plus Jakarta Sans';
    font-size: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.boxtype2 {
    padding: 1px 2px;
    border: 2px solid #636363;
    border-radius: 10px;
    font-family: 'Plus Jakarta Sans';
    font-size: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

/* .posts-status-privateChats {
    display: flex;
    gap: 100px;
    padding-top: 50px;
} */

.content{
    display: flex;
    gap: 200px;
    margin-top: 30px;
    justify-content: flex-start;
}

.status {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 100px;
}


.status-text {
    text-align: left;
    padding-left: 5px;
    font: 'Plus Jakarta Sans';
    font-size: 18px;
    color: #8D8D8D;
}


.amigos{
    width: 459px;
    height: 35px;
    text-align: center;
    font: 'Plus Jakarta Sans';
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
}

.buttonToogle {
    width: 241px;
    height: 46px;
    background: #000000;
    font-size: bold;
}

.postsUser{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.userInfo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: 20px;
    margin-left: 0px;
    gap: 10px;
}

.name{
    width: auto;
    height: 23px;
    text-align: left;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 0px;
    display: flex;
    align-self: center;
    margin-top: 10px;
}

.avatar {
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 3%;
    border: 1px solid #ffffff;
    margin-right: 10px;
}

@media screen and (max-width: 1400px){
    .content{
        gap: 30px;
    }

    
}

