<div class="container-init">

    <div class="news">
        <p>Noticias Destacadas</p>
        <div class="card-news">
            <a class="apiNewsText" [href]="linkApiNewsRouting">{{apiNewsText}}</a>
            <a class="apiNewsText" [href]="linkApiNewsRouting">{{apiNewsText}}</a>
            <a class="apiNewsText" [href]="linkApiNewsRouting">{{apiNewsText}}</a>
            <a class="apiNewsText" [href]="linkApiNewsRouting">{{apiNewsText}}</a>
            <a class="viewAll" routerLink="/News">Ver Todas</a>
        </div>
        <div class="status">
            <p class="status-text">Mi Estado</p>
            <app-status></app-status>
        </div>
    </div>

    <div class="posts">
        <div class="new-post">
            <img class="avatarPost">
            <div class="info-post">
                <input type="text" class="description-video" id="" placeholder="Descripción Jugada" required
                    #inputTextPost>
                <input type="text" class="link-video" id="" placeholder="Link Video" required #inputLinkVideoPost>
            </div>
            <button class="public-post" type="submit"
                (click)="addPost(inputTextPost, inputLinkVideoPost)">Publicar</button>
        </div>
        <app-video-post></app-video-post>
    </div>

    <div class="friends">

        <div class="card-online-friends">
            <app-users-list class="amigos" title="Amigos Disponibles" [usersList]="onlineFriends"></app-users-list>
        </div>

        <div class="card-online-friends">
            <app-users-list class="amigos" title="Sugerencias de Amistad"
                [usersList]="sugerenciaFriends"></app-users-list>
        </div>

        <button class="buttonCommunity" routerLink="/community">Accede a la comunidad</button>

    </div>

</div>