<div class="container-init">

    <div class="news">
        <p class=" titleNews">Noticias Destacadas</p>
        <div class="card-news">
            <div class="boxNews">
                @for(game of games.slice(0, 4); track game) {
                    <app-trending-news class="cards" [text]="game.title" [img]="game.thumbnail"
                        [link]="game.freetogame_profile_url"></app-trending-news>
                }
            </div>
            <a class="viewAll" routerLink="/news">Ver Todas</a>
        </div>
        <div class="status">
            <p class="status-text"></p>
            @if (users.length >0) {
            <app-status [user]="users[0]"></app-status>
            }
            <!-- Agrega el evento de clic y ngStyle aquí -->
            <button class="buttonToogle" (click)="toggleAvailability()"
                [ngStyle]="{'color': available_to_play ? '#11ec48' : '#707070'}">{{ available_to_play ? 'DISPONIBLE' :
                'AUSENTE' }}</button>
        </div>
    </div>
    <div class="posts">
        <div class="new-post">
            <img class="avatarPost" [src]="userAvatar">
            <div class="info-post">
                <input type="text" class="description-video" id="" placeholder="Descripción Jugada" required
                    #inputTextPost>
                <input type="text" class="link-video" id="" placeholder="Link Video" required #inputLinkVideoPost>
            </div>
            <button class="public-post" type="submit"
                (click)="addPost(inputTextPost, inputLinkVideoPost)">Publicar</button>
        </div>
        <div class="allPosts">
            @for(post of post; track post.post_id){

            <div class="user-info">
                <img class="avatar" [src]="post.user_avatar" alt="User Avatar">
                <p class="name">{{post.user_name}}</p>
            </div>

            <app-video-post [post]="post"></app-video-post>
            }@empty {
            Ups...todavía no hay ningún post. Empieza a interactuar con la Comunidad!
            }
        </div>

    </div>

    <div class="friends">

        <div class="card-online-friends">
            <app-users-list class="amigos" title="Amigos Disponibles" [usersList]="onlineFriends"></app-users-list>
        </div>

        <div class="card-online-friends">
            <app-users-list class="amigos" title="Sugerencias de Amistad"
                [usersList]="sugerenciaFriends"></app-users-list>
        </div>

        <button class="buttonCommunity" routerLink="/community">Accede a la comunidad</button>

    </div>

</div>