<div class="dropdown">
  <button id="button" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
    aria-expanded="false" data-bs-auto-close="outside">
    Crear Hilo
  </button>

  <form class="dropdown-menu p-4">
    <div class="dropdownContainer">
      <div class="mb-3">
        <label for="exampleDropdownFormEmail2" class="form-label">Asunto</label>
        <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="" #subject>
      </div>
      <div class="mb-3">
        <label for="exampleDropdownFormPassword2" class="form-label">Juego</label>
        <input type="text" class="form-control" id="exampleDropdownFormPassword2" placeholder="" #game>
      </div>
      <div class="mb-3">
        <label for="exampleDropdownFormPlataform" class="form-label">Plataforma/Consola</label>
        <select name="form-select" id="platformSelect" #platform>
          <option value="PlayStation">PlayStation</option>
          <option value="X-box">X-box</option>
          <option value="Nintendo">Nintendo</option>
          <option value="PC">PC</option>
        </select>
      </div>
      <button id="button2" type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"
        data-bs-auto-close="outside" (click)="createThread(subject, game, platform)">Crear</button>
      <div class="confirmation">{{message}}</div>
    </div>

  </form>



</div>