#button{
    background-color:black ;
    border: 4px solid #7F00FF;
    border-radius: 14px;
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.closeBtnContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

#btn-close{
    display: flex;
    justify-content: flex-end;
}

.dropdown-menu{
    width: 443px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 41px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#closeBtn {
    color:#E100FF;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-self: flex-end;
}

.dropdownContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.confirmation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color:#7F00FF;
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-weight: bold;
}

.form-label{
    text-align: left;
    font: normal normal medium  Plus Jakarta Sans;
    letter-spacing: 0px;
    color:black;
    font-size: 13px;
    position: relative;
    left: 28px;
    bottom: 12px;
}

.form-control{
    background: #E100FF29 0% 0% no-repeat padding-box;
    border-radius: 52px;
    width: 339px;
    height: 31px;
    position: relative;
    left: 25px;
    bottom: 15px;
}

#platformSelect{
    background: #E100FF29 0% 0% no-repeat padding-box;
    border-radius: 52px;
    width: 339px;
    height: 31px;
    position: relative;
    left: 25px;
    bottom: 15px;
    padding-left: 10px;
}

#button2{
    width: 335px;
    height: 32px;
    background: #1B1B1B 0% 0% no-repeat padding-box;
    border: 1px solid #E100FF;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 27px;
}