.container-register {
    z-index: -3;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/background/background_register.svg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.img{

    width: 542px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    

}

img{

    width: 100%;
    object-fit: cover;
    
    
}

.boxTitle{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

h1{
    font-size: 80px;
    font-size: bold;
    color: white;
    line-height: 85px;
    padding-bottom: 30px;
}

span{
    color:#E100FF ;
}

p{
    color: white;
    width: 400px;
}
