* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container-register {
    z-index: -3;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/background/background_register.svg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    overflow: hidden;
}

.img{

    width: 542px;
    min-height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: -85px;
}

img{

    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px){
    .img{

        width: 542px;
        min-height: 870px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: -85px;
    }
}

@media screen and (max-width: 2600px){
    .img{

        width: 742px;
        min-height: 1070px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: -245px;
    }
}


.boxTitle{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

h1{
    font-size: 80px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    color: white;
    line-height: 85px;
    padding-bottom: 30px;
}

span{
    color:#E100FF ;
}

p{
    color: white;
    width: 400px;
}

.boxForm{
    padding-top: 70px;
}

.name{
    width: 1000px;
}