/* Estilos para el formulario de inicio de sesión */

.containerForm {
    width: 302px;
    height: 311px;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:2%;
    background: #ffffff;
    margin-right: -20px;

}

h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 17px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #E100FF;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: medium;
    font-size: 15px;
    line-height: 17px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #1B1B1B;
    opacity: 80%;
    font-size: 10px;
    line-height: 17px;
    padding-left: 12%;
}
input{
    align-self: center;
    margin-bottom: 5px;
}

.control {
    width: 250px;
    height: 38px;
    background: #E100FF29;
    border-radius: 34px;
    padding-left: 5%;
    border: 1px solid #E100FF29;
    font-size: xx-small;
}

button {
    width: 131px;
    height: 32px;
    background-color: #1B1B1B;
    border: 1px solid #E100FF;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.buttonLogin {
    text-align: center;
    padding-top: 10px;
}

/* .buttonLogin[disabled] {
    background-color: #707070;
} */

.error {
    font-size:xx-small;
    position:absolute;
    color: red;
    background-color: #FFFFFF;
    font-weight: bold;
}

.subtitlePassword {
    color: white;
    font-size: x-small;
}
