<div class="containerForm">
    <form [formGroup]="reactiveForm" (ngSubmit)="loginSubmit()">
        <h2>Iniciar Sesión</h2>
        <div class="form">
            <label for="name" class="label">Usuario</label>
            <input class="control" type="text" name="name" formControlName="name">
            <!-- Mensaje de error para el campo de usuario -->
            @if ( (reactiveForm.get('name')?.dirty || reactiveForm.get('name')?.touched) &&
            reactiveForm.get('name')?.invalid) {
            @if (reactiveForm.get('name')?.hasError('required')) {
            <div>
                <p class="error">*Campo obligatorio</p>
            </div>
            }
            }
        </div>
        <div class="form">
            <label for="password" class="label">Contraseña</label>
            <input class="control" type="password" name="password" formControlName="password">
            <span class="subtitlePassword">Debe tener entre 8 y 20 caracteres.</span>
            <!-- Mensaje de error para el campo de contraseña -->
            @if ( (reactiveForm.get('password')?.dirty || reactiveForm.get('password')?.touched) &&
            reactiveForm.get('password')?.invalid) {
            @if (reactiveForm.get('password')?.hasError('required')) {
            <div>
                <p class="error">*Campo obligatorio</p>
            </div>
            }
            @if (reactiveForm.get('password')?.hasError('minlength') ||
            reactiveForm.get('password')?.hasError('maxlength')) {
            <div>
                <p class="error">*Longitud de Contraseña incorrecta</p>
            </div>
            }
            }
        </div>
        <div class="buttonLogin">
            <button type="submit" [disabled]="!reactiveForm.valid"
            >Login</button>
        </div>
    </form>
</div>