
<div class="video-post">
    @for (user of users; track user.user_id) {
    <div class="user-info">
        <img class="avatar" [src]="user.avatar" alt="User Avatar">
        <a href="" class="name">{{user.name}}</a>
    </div>
    <div class="video-player">
        <p class="">{{ linkYoutubePost }}</p>
        <a href="" class="play-btn">PLAY</a>
    </div>
    <div class="video-description">
        <p>{{ titlePost }}</p>
    </div>
    <div class="video-interactions">
        <!-- <button class="likes" src = "">❤️</button>
        <span class="likes-count">23</span> -->
        <button class="likes" (click)="addLike()">❤️</button>
        <span class="likes-count">{{ likesCount }}</span>
        <a href="" class="view-comments">Ver comentarios 300K</a>
    </div>
    <div class="comment-section">
        <input type="text" class="form-control" id="" placeholder="Escribe tu comentario" required #inputComment>
    </div>
    <div>
        <button class="comment-btn" type="submit" (click)="addComment(inputComment)">Comentar</button>
    </div>
    <br>
    <br>
    <br>
    }
</div>


