<div class="bigContainer">
    <div class="modifyProfileContainer">
        <div class="containerTop">
            <div class="editProfile">
                <h1>Editar Perfil</h1>
                <div class="editComponents">
                    <div class="editAvatar">

                    </div>
                    <div class="editInputs">
                        <label for="name">Nombre</label>
                        <input class="textInput" type="text" id="nombre">

                        <label for="nationality">Nacionalidad</label>
                        <input class="textInput" type="text" id="nationality">

                        <label for="aboutMe">Sobre mi</label>
                        <input class="textInput2" type="text" id="aboutMe">
                    </div>
                </div>
            </div>

            <div class=" editInterests">

            </div>
        </div>

        <div class="containerBottom">

        </div>
    </div>

    <div class="modifyPasswordContainer">

    </div>
</div>