<div class="bigContainer">
    <form [formGroup]="reactiveregister" (ngSubmit)="handleSubmit()">
        <div class="modifyProfileContainer">
            <div class="containerTop">
                <div class="editProfile">
                    <h1>Editar Perfil</h1>
                    <div class="editComponents">
                        <div class="editAvatar">
                            <img class="avatar" [src]="currentAvatar" alt="{}">
                            <!-- <a class='editAvatarLink' href="">Edit Avatar</a> -->
                            <app-avatar-options></app-avatar-options>
                        </div>
                        <div class="editInputs">
                            <label for="name" >Nombre</label>
                            <input class="textInput" type="text" id="name" formControlName="name">
                            <label for="nationality">Nacionalidad</label>
                            <input class="textInput" type="text" id="nationality" formControlName="nationality">
                            <label for="aboutMe">Sobre mi</label>
                            <input class="textInput2" type="text" id="aboutMe" formControlName="about_me">
                        </div>
                    </div>
                </div>
             </div>
                <div class="editInterests">
                    <h1>Editar Intereses</h1>
                    <div class="platforms">
                        <p>Plataformas</p>
                        <div class="labelPlatforms">
                            <label class="options">
                                <input class="checkbox" type="checkbox" formControlName="ps">
                                <span>Ps</span>
                            </label>
                            <label class="options">
                                <input class="checkbox" type="checkbox" formControlName="xbox">
                                <span>Xbox</span>
                            </label>
                            <label class="options">
                                <input class="checkbox" type="checkbox" formControlName="nintendo">
                                <span>Nintendo</span>
                            </label>
                            <label class="options">
                                <input class="checkbox" type="checkbox" formControlName="pc">
                                <span>Pc</span>
                            </label>
                        </div>
                    </div>
                    <div class="genre">
                        <p>Géneros</p>
                        <div class="genres">
                            <div class="checkbox1">
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="arcade">
                                    <span>Arcade</span>
                                </label>
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="disparos">
                                    <span>Disparos</span>
                                </label>
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="peleas">
                                    <span>Peleas</span>
                                </label>
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="aventuras">
                                    <span>Aventuras</span>
                                </label>
                            </div>
                            <div class="checkbox1">
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="accion">
                                    <span>Acción</span>
                                </label>
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="puzzle">
                                    <span>Puzzle</span>
                                </label>
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="preguntas">
                                    <span>Preguntas</span>
                                </label>
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="deportes">
                                    <span>Deportes</span>
                                </label>
                            </div>
                            <div class="checkbox1">
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="coches">
                                    <span>Coches</span>
                                </label>
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="rol">
                                    <span>Rol</span>
                                </label>
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="estrategia">
                                    <span>Estrategia</span>
                                </label>
                                <label class="options">
                                    <input class="checkbox" type="checkbox" formControlName="realidadVirtual">
                                    <span>Realidad Virtual</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="containerBottom">
                <app-confirmation-modal id="buttonText" [buttonText]="'Editar'"
                    [confirmationText]="'¿Estás seguro de que deseas modificar el perfil?'" [closeModal]="'Cancelar'"
                    [acceptModal]="'Aceptar'" (click)="confirmEdit()"></app-confirmation-modal>
            </div>

    </form>
    <form [formGroup]="password" (ngSubmit)="changePassword()">
    <div class="modifyPasswordContainer">
        <div class="passwordContent"><br>
            <h1 class="h1">Editar Contraseña</h1>
            <div class="editPassword">
                <div class="editInputsPassword">
                    <div class="inputPass">
                        <label for="name">Nueva Contraseña</label>
                        <input class="inputPassword" formControlName="password" type="password">
                    </div>
                    <div class="inputPass">
                        <label for="name">Repita Nueva Contraseña</label>
                        <input class="inputPassword" formControlName="confirmPassword" type="password">
                    </div>
                    <div class="passwordBtn">
                        <button type="submit">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>


