*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bigContainer{
    padding-top: 140px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../../assets/background/background_edit_profile.svg');
    background-size: auto;
    background-repeat: repeat;
    max-width: 100%;
    opacity: 1;
}