
<div class="dropdown">

    <button id="button" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false" data-bs-auto-close="outside">
        Solicitudes
    </button>

    <div class="dropdown-menu" aria-labelledby="notificacionesDropdown">
        <div class="request">
            <p class="dropdown-item-text">Tienes una solicitud de amistad de: "usuario2".</p>
            <div class="request2">
                <button class="btn">Aceptar</button>
                <button class="btn">Rechazar</button>                
            </div> 
        </div>
        <br>
        <p class="dropdown-item-text">"usuario3" ha aceptado tu solicitud de amistad.</p>
    </div>
    
</div>
