.card{
    width: 1190px;
    height: 111px;
    background: #141414 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    display: flex;
    flex-direction: row;
    border-radius: 15px;    
}

.message{
    display: flex;
    flex-direction: column;
    margin-left: 18px;

}

.title{
    width: 79px;
    height: 17px;
    text-align: left;
    font: normal normal medium 12px/15px Plus Jakarta Sans;
    letter-spacing: 0px;
    color: #636363;
}

.text{
    width: 435px;
    height: 58px;
    text-align: left;
    font: normal normal medium 18px/23px Plus Jakarta Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.game{
    display: flex;
    flex-direction: column;
}

.title2{
    width: 79px;
    height: 17px;
    text-align: left;
    font: normal normal medium 12px/15px Plus Jakarta Sans;
    letter-spacing: 0px;
    color: #636363;
}

.gameText{
    width: 435px;
    height: 58px;
    text-align: left;
    font: normal normal medium 18px/23px Plus Jakarta Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.platform{
    display: flex;
    flex-direction: column;
}

.title3{
    width: 79px;
    height: 17px;
    text-align: left;
    font: normal normal medium 12px/15px Plus Jakarta Sans;
    letter-spacing: 0px;
    color: #636363;
}

.namePlatform{
    width: 435px;
    height: 58px;
    text-align: left;
    font: normal normal medium 18px/23px Plus Jakarta Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}