<div class="container">
    <div class="row">

        <div class="card">
            <div class="smallContainer">
                <p class="title">Mensaje</p>
                <p class="text">{{ thread.subject }}</p>
            </div>
            <div class="smallContainer">
                <p class="title">Juego</p>
                <p class="gameText">{{ thread.game }}</p>
            </div>
            <div class="smallContainer">
                <p class="title">Plataforma</p>
                <p class="namePlatform">{{ thread.platform }}</p>
            </div>
            <!-- <button class="buttonChat" [routerLink]="['/chat', thread.thread_id]">Unirme</button> -->
            <button class="buttonChat"
                (click)="thread.thread_id !== undefined && joinThread(thread.thread_id)">Unirme</button> -->
        </div>
    </div>
</div>